/* app css stylesheet */
body {
	padding-top: 20px;
}

a {
	cursor: pointer;
}

@font-face {
	font-family: Campus;
	src: url('../font/CampusA.ttf');
}

@font-face {
	font-family: CampusInvert;
	src: url('../font/CampusA-invert.ttf');
}

@font-face {
	font-family: CollegeB;
	src: url('../font/collegeb.ttf');
}

svg .small {
	/* font-family: Campus!important; */
	color: black !important;
	font-weight: bold;
}

svg .big {
	font-family: CollegeB !important; /*
    color: white!important; */
	text-shadow: -2px 0 black, 0 1px black, 2px 0 black, 0 -2px black;
}

html, body {
	height: 100%;
}

body {
	/*background: linear-gradient(to bottom, #ffffff 0%, #17181e 100%);*/
	background-image: url("../img/background_gray_wood.jpg")
}

.container-fluid {
	color: rgba(0, 0, 0, 0.63);
}

.table-background th {
	background-color: white;
}

.table-background tr {
	background-color: gray;
}

.table-background>tbody>tr>td {
	vertical-align: middle;
}

.login-form {
	position: fixed;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.login-form .title {
	font-family: Campus;
	color: black;
	display: inline-block;
	font-size: 100px;
	-webkit-animation: rotateplane 7.0s infinite ease-in-out;
	animation: rotateplane 7.0s infinite ease;
}

.message-container {
	position: fixed;
	top: 0;
	left: 50%;
	margin-left: -150px;
	z-index: 10;
	float: left;
}

.message-container div {
	background-color: #FFF;
	margin-top: 5px;
	margin-bottom: 5px;
}

.shaky {
	-webkit-animation: shake 5s infinite ease-in-out;
	animation: shake 5s infinite ease-in-out;
}

.shaky-rotate {
	-webkit-animation: shake-rotate 3s infinite ease-in-out;
	animation: shake-rotate 3s infinite ease-in-out;
}

.card {
	width: 5%;
}

.login-form .btn {
	padding-bottom: 6.5px;
}

svg {
	width: 6.5%;
	margin-left: 7px;
}

.card-row {
	width: 100%;
}

.board {
	width: 100%;
}

.hands .card-container svg {
	cursor: pointer;
	transition: all 0.5s;
}

.hands {
	margin-top: 14px;
}

.hands .card-container svg:hover {
	/* margin-top: -1%;
	width: 10%; */
	-webkit-filter: drop-shadow(0px 0px 10px rgba(28, 42, 150, 1));
	filter: drop-shadow(0px 0px 10px rgba(28, 42, 150, 1));
}

.choosable-line .card-container {
	/* transition: all 0.5s; */
	cursor: pointer;
}

.choosable-line .card-container:hover {
	-webkit-filter: drop-shadow(0px 0px 10px rgba(28, 42, 150, 1));
	filter: drop-shadow(0px 0px 10px rgba(28, 42, 150, 1));
}

.card-selected {
	-webkit-filter: drop-shadow(0px 0px 10px #CBC938);
	filter: drop-shadow(0px 0px 10px #CBC938);
}

@
-webkit-keyframes rotateplane { 0% {
	-webkit-transform: perspective(120px)
}

30%
{
-webkit-transform
:
 
perspective
(120px)
 
}
55%
{
-webkit-transform
:
 
perspective
(120px)
 
rotate
(920deg)
 
}
70%
{
-webkit-transform
:
 
perspective
(120px)
 
rotate
(90deg)
 
}
100%
{
-webkit-transform
:
 
perspective
(120px)
 
rotate
(360deg)
 
}
}
@
keyframes rotateplane { 0% {
	transform: perspective(120px)
}

30%
{
transform
:
 
perspective
(130px)
 
}
55%
{
transform
:
 
perspective
(50px)
 
rotate
(920deg)
 
}
70%
{
transform
:
 
perspective
(300px)
   
rotate
(90deg)
 
}
100%
{
transform
:
 
perspective
(120px)
   
rotate
(360deg)
 
}
}
@
-webkit-keyframes shake { 0% {
	-webkit-transform: translate(0px, 0px) rotate(0deg);
}

90%
{
-webkit-transform
:
 
translate
(0px
,
0
px
)
 
rotate
(0deg);
 
}
92%
{
-webkit-transform
:
 
translate
(-1px
,
-1
px
)
 
rotate
(0deg);
 
}
94%
{
-webkit-transform
:
 
translate
(1px
,
1
px
)
 
rotate
(0deg);
 
}
96%
{
-webkit-transform
:
 
translate
(-1px
,
-1
px
)
 
rotate
(0deg);
 
}
98%
{
-webkit-transform
:
 
translate
(1px
,
1
px
)
 
rotate
(0deg);
 
}
100%
{
-webkit-transform
:
 
translate
(0px
,
0
px
)
 
rotate
(0deg);
 
}
}
@
keyframes shake { 0% {
	transform: translate(0px, 0px) rotate(0deg);
}

90%
{
transform
:
 
translate
(0px
,
0
px
)
 
rotate
(0deg);
 
}
92%
{
transform
:
 
translate
(-1px
,
-1
px
)
 
rotate
(0deg);
 
}
94%
{
transform
:
 
translate
(1px
,
1
px
)
 
rotate
(0deg);
 
}
96%
{
transform
:
 
translate
(-1px
,
-1
px
)
 
rotate
(0deg);
 
}
98%
{
transform
:
 
translate
(1px
,
1
px
)
 
rotate
(0deg);
 
}
100%
{
transform
:
 
translate
(0px
,
0
px
)
 
rotate
(0deg);
 
}
}
@
-webkit-keyframes shake-rotate { 0% {
	-webkit-transform: translate(0px, 0px) rotate(0deg);
}
90%
{
-webkit-transform
:
 
translate
(0px
,
0
px
)
 
rotate
(0deg);
 
}
92%
{
-webkit-transform
:
 
translate
(0px
,
0
px
)
 
rotate
(-2deg);
 
}
94%
{
-webkit-transform
:
 
translate
(0px
,
0
px
)
 
rotate
(2deg);
 
}
96%
{
-webkit-transform
:
 
translate
(0px
,
0
px
)
 
rotate
(-2deg);
 
}
98%
{
-webkit-transform
:
 
translate
(0px
,
0
px
)
 
rotate
(2deg);
 
}
100%
{
-webkit-transform
:
 
translate
(0px
,
0
px
)
 
rotate
(0deg);
 
}
}