<div class="container-fluid ">
	<div class="row">
		<div class="col-md-6">
			<h2 class="shaky">The Games</h1>
			<table class="table table-background table-striped">
				<tr>
					<th>Lobby's name</th>
					<th>Owner</th>
					<th>Number of users</th>
					<th></th>
				</tr>
				<tr ng-repeat="lobby in game.lobbies">
					<td>{{lobby.name}}</td>
					<td>{{lobby.owner.username}}</td>
					<td>{{lobby.users.length}}</td>
					<td><button ng-if="lobby.state === LOBBY_STATE.WAITING" class="btn btn-primary"
							ng-click="joinLobby(lobby.uid)">Join</button><span ng-if="lobby.state === LOBBY_STATE.RUNNING">Playing</span></td>
				</tr>
			</table>
		</div>
		<div class="col-md-6">
			<h2 class="shaky">The Users</h1>
			<table class="table table-background table-striped">
				<tr>
					<th>Username</th>
				</tr>
				<tr ng-repeat="user in game.users">
					<td><span ng-if="user.username === username" title="You" class="glyphicon glyphicon-star"></span> {{user.username}}</td>
				</tr>
			</table>
		</div>
	</div>
	<div class="row">
		<div class="col-md-1">
			<a class="btn btn-primary shaky-rotate" ui-sref="lobbyCreate">Create a lobby</a>
		</div>
	</div>
</div>
