<div class="board">
	<div class="title shake">Game</div>
	<div ng-repeat="line in gameBoard.board" ng-class="{'choosable-line' 	 : mustRemoveColumn}" class="card-row">
			<span ng-repeat="card in line" ng-click="pickLine($parent.$parent.$index)" class="card-container" ng-include="'app/img/card/card_'+card.oxHeads+'.svg'"></span>
	</div>
	<div class="hands">
			<span ng-class="{'card-selected' : cardSelected === card.value}" class="card-container" ng-click="clickOnCard($index)" ng-repeat="card in hand.cards" ng-include="'app/img/card/card_'+card.oxHeads+'.svg'"></span>
	</div>
</div>

