<div class="container-fluid">
	<h1 class="shaky">Create a Lobby</h1>

	<form ng-submit="createLobby()">
		<div class="row">
			<div class="form-group col-md-5">
				<label for="lobbyName">Lobby's name</label> <input type="text"
					class="form-control" id="lobbyName" placeholder="Enter name"
					ng-model="lobby.name">
			</div>
		</div>
		<div class="row">
			<div class="col-md-1">
				<button type="submit" class="btn btn-default shaky-rotate">Create</button>
			</div>
		</div>
	</form>

</div>

